body{
    font-family: poppins;
}

.admin-button {
  display: block;
}

.CARD{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#image-section{
  text-align: center;
    
}

#locationImage{
    border-radius: 32px;
    height: 230px;
    margin-top: 17px;
    width: 370px;
}

.image-section button{
  background-color: #17eb6199;
  border-radius: 32px;
  border: none;
  height: 35px;
  width: 55px;
  margin-bottom: 20px;
}

.Description{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.edit-button button{
  background-color: #17eb6199;
  border-radius: 32px;
  border: none;
  height: 35px;
  width: 55px;
  margin-bottom: 20px;
}

h2{
    font-size: 18px;
}

p{
    font-size: 14px;

}

h3{
  font-size: 16px;
}

#opinionInput{
  border-radius: 32px;
  border: 2px solid;
  border-color:#17eb6199 ;
  width: 280px;
  height: 30px;
  padding: 10px;
  font-size: 14px;
  font-family: poppins;
  font-weight: bold;
  background-color: white;
  position: relative;
  z-index: 1;
  white-space: pre-line;
}

#submitOpinionButton{
  width: 50px;
  margin-left: 10px;
  padding: 13px;
  border: none;
  background-color: #17eb6199;
  border-radius: 32px;
}

#submitOpinionButton img{
  height: 24px;
  width: 24px;
}


.buttons {
    display: flex;
    gap: 20px;
    
  }

  
  .buttons button {
    
    flex: 1;
    padding: 14px;
    width: 165px;
    font-weight: bold;
    background-color: #17eb6199;
    border-radius: 32px;
    border: none;
    margin-top: 80px;
    position: -webkit-sticky;
  }
  
button :last-child{
    margin-right: 0px;
}


  button img {
    vertical-align: middle;
    margin-right: 5px;
    height: 24px;
    width: 24px;
  }


  .menu {
    width: 325px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 80px;
    border: 2px solid;
    border-color:#17eb6199 ;
    border-radius: 32px;
    margin-top: 20px;
    padding: 15px;
    background-color: white;
    position: relative;
  }
    #menuItem {
    height: 35px;
    width: 35px;
    }



.feedback{
  display: flex;
  flex-direction: row;
  align-items: center;
}

    .feedback p{
      font-size: 14px;
      margin-top: 10px;
      white-space: pre-line;
    }

  .feedback button {
    background-color: #fc2a2a;
    color: white;
    border-radius: 32px;
    border: none;
    height: 35px;
    width: 55px;
    margin-bottom: 20px;
}



@media screen and (min-width: 768px) {

  body{
    background-image: url("images/Background-11.png");
    background-repeat: repeat;
    background-size: cover;
    background-color: #4bfd8999;
  
  }

  .CARD{
    background-color: white;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    max-width: 550px;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 40px;
  }


  #locationImage{
    border-radius: 32px;
    height: 300px;
    margin-top: 17px;
    margin-left: 10px;
    width: 450px;
}

.image-section button{
  background-color: #17eb6199;
  border-radius: 32px;
  border: none;
  height: 35px;
  width: 55px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.Description{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.edit-button button{
  height: 45px;
  width: 65px;
 
}

h2{
    font-size: 20px;
}

p{
    font-size: 14px !important;

}

h3{
  font-size: 16px;
}

#opinionInput{
 
  width: 370px;
  height: 40px;
  font-size: 16px;
 
}


.buttons {
    display: flex;
    
  }

  
  .buttons button {
    
    padding: 18px;
    width: 225px;
    border: none;
    margin-top: 40px;
  }
  
button :last-child{
    margin-right: 0px;
}


  button img {
    vertical-align: middle;
    margin-right: 5px;
    height: 24px;
    width: 24px;
  }




  .feedback p{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }

.feedback button {
  background-color: #fc2a2a;
  color: white;
  font-size: 16px;
  border-radius: 32px;
  border: none;
  height: 45px;
  width: 65px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.menu {
  width: 425px;

}


}